@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: #696969;
    letter-spacing: 2px;
}

/* Headings and logo*/

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #696969;
    font-size: 150%;
    margin: 10px;
    letter-spacing: 5px;
    text-align: center;
}

p {
    padding: 1.2rem;
}


#logo {
    border: none;
    font-size: 350%;
    padding-top: 15px; 
}

/* Menu */

#menu {
    font-family: Roboto;
    font-size: 120%;
    letter-spacing: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}


#menu li {
    list-style-type: none;
    margin: 10px 10px;
    display: inline;
    letter-spacing: 2px;
}

#menu a {
    text-decoration: none;
    color: #696969;
}

#menu a:hover {
    border-block: 2px solid rgb(51,102,0,0.8);
    border-radius: 20%;
}

.active {
    border-block: 2px solid rgb(51,102,0,0.8);
    border-radius: 20%;;
}

.fas {
    color: rgb(51,102,0,0.8);
}

/* Hero image */


#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/chillies-in-market.jpg') no-repeat center center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed !important;
}

/* Spice level */

#spice-level {
    margin: 30px;
    text-align: center;
    line-height: 2;
}

.description a {
    color: rgb(51,102,0,0.8);
}
.description a:hover {
    border-block: 2px solid rgb(51,102,0,0.8);
    border-radius: 20%;
}

.slogan {
    margin: 30px 0;
    padding: 15px;
   
}

.slogan > p {
    text-align: center;
    margin: 30px;
}

.pepper-list {
    padding: 15px;
    list-style: none;
    letter-spacing: 2px;
}

hr {
    border-top: 1px solid #696969;
    width: inherit;
    margin: 5px; 
}

/* Recipes */

.recipes-hr {
    padding-top: 30px;
}

.make-your-sauce {
    margin: 75px 30px;
    background-color: #D3D3D3;
    border-radius: 20%;
}

#recipes {
    margin: 25px 0;
    height: 7rem;
}


h2 > a {
    color: inherit;
    text-decoration: none;
}


#mild {
    width: 25%;
    float: left;
    padding: 30px;
}

#hot {
    width: 25%;
    float: right;
    padding: 30px;
}

#medium {
    width: 25%;
    margin: auto;
    padding: 30px;
}

#mild:hover {
    border-block: 5px solid rgb(51,102,0,0.8);
    border-radius: 20%;
    font-size: 115%;
}

#medium:hover {
    border-block: 5px solid rgb(51,102,0,0.8);
    border-radius: 20%;
    font-size: 115%;
}

#hot:hover {
    border-block: 5px solid rgb(51,102,0,0.8);
    border-radius: 20%;
    font-size: 115%;
}

#recipe-list {
    width: 100%;
    background: url('../images/homemade-sauces.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    display: inline-block;
    line-height: 1.5;
    opacity: 0.9;
    padding-top: 30px;
}

h3 {
    padding-top: 30px;
}


#recipe-one {
    text-align: center;
    width: 45rem;
    margin: 30px auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    color: #222224;
    background-color: #D3D3D3;
    opacity: 0.9;
    padding-bottom: 5rem;
}

#recipe-one > ul {
    display: inline-block;
    text-align: center;
}

#recipe-one:hover {
    opacity: 0.95;
}


#recipe-two {
    text-align: center;
    width: 45rem;
    margin: 60px auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    color: #222224;
    background-color: #D3D3D3;
    opacity: 0.9;
    padding-bottom: 5rem;
}

#recipe-two > ul {
    display: inline-block;
    text-align: center;
}

#recipe-two:hover {
    opacity: 0.95;
}

#recipe-three {
    text-align: center;
    width: 45rem;
    margin: 60px auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    color: #222224;
    background-color: #D3D3D3;
    opacity: 0.9;
    padding-bottom: 5rem;
}

#recipe-three > ul {
    display: inline-block;
    text-align: center;
}

#recipe-three:hover {
    opacity: 0.95;
}

ol {
    background-color: #696969;
    opacity: 0.9;
    color: #D3D3D3;
    display: inline-block;
    list-style-position: inside;
}


ol > p {
    padding-top: 15px;
}

ol > li {
    padding: 15px;
}

/* Form */

.form-section {
    background: url('../images/sauces-in-store-black-and-white.jpeg') no-repeat center center;
    width: 100%;
    padding: 75px 0;
    position: relative;
    background-size: cover;
    opacity: 0.9;
    background-attachment: fixed;
    line-height: 1.25; 
}

.signup-form {
    background-color: #D3D3D3;
    opacity: 0.95;
    text-align: center;
    color: #222224;
    width: 45rem;
    margin: auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 15px 30px 15px;
}

.form-intro {
    padding-top: 15px;
}

.form-section-heading {
    font-size: 200%;
    color: #696969;
    margin: 30px;
}

.form-section p {
    font-family: Roboto;
    font-size: 120%;
    letter-spacing: inherit;
}

.text-input {
    color: #696969;
    font-size: inherit;
    width: 50%;
    padding: 5px 10px;
    margin: 7px;
    border: 2px solid #222224;
    border-radius: 20px;
}

.text-input:hover {
    border: 2px solid rgb(51,102,0);
}

.join-button {
    background: transparent;
    font-family: 'Bebas Neue'; 
    font-size: 150%;
    letter-spacing: 2px;
    margin: 30px;
    padding: 15px 10px;
    color: #222224;
    border-block: 3px solid #222224;
    border-radius: 30px;
}

.join-button:hover {
    border-block: 5px solid rgb(51,102,0);
    border-radius: 20%;
    font-size: 175%;
    cursor: grab;
    
}

.volume {
    transform: scale(1.5);
    margin-top: 10px;   
}

.subscribe {
    margin: 25px 0;
}


/* Thank you page for submitting sign-up form */

#thank-you {
    line-height: 1.5;
    margin-top: 125px;
    text-align: center;
}

.thank-you {
    margin-bottom: 125px;
}

.thank-you > a {
    text-decoration: none;
    color: rgb(51,102,0,0.8);
}

.thank-you > a:hover {
    border-block: 2px solid rgb(51,102,0);
    border-radius: 20%;
}

/* Footer */

.footer {
    height: 75px;
    padding: 25px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}


.social-networks i {
    list-style: none;
    margin: 15px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 15px;
    color: #696969;
    border: 2px solid #696969;
    border-radius: 50%;
}

.social-networks i:hover {
    color:  rgb(51,102,0,0.8);
    border-color: rgb(51,102,0,0.8);
}

/* Media queries */

/* For extra large screens from size 1200px and down */

/* For large screens from size 992px and down */

@media screen and (max-width: 992px) {

    #recipe-one, #recipe-two, #recipe-three {
        width: 45rem;
    }
    
}

/* For medium screens from size 768px and down */

@media screen and (max-width: 768px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    #mild:hover {
        font-size: 115%;
        border: none;
    }
    
    #medium:hover {
        font-size: 115%;
        border: none;
    }
    
    #hot:hover {
        font-size: 115%;
        border: none;
    }

    #recipe-one, #recipe-two, #recipe-three {
        width: 35rem;
    }

    .signup-form {
        width: 35rem;
    }

    .thank-you > a {
        text-decoration: none;
        color: rgb(51,102,0);
        font-weight: bolder;
    }

    .description a {
        color: rgb(51,102,0);
        font-weight: bolder;
    }

    #recipes .fas {
        font-size: 53%;
    }
 
}

/* For small screens from size 576px and down */

@media screen and (max-width: 576px) {

    .signup-form {
        width: 25rem;
    }

    .social-networks {
        column-gap: 5rem;
        column-count: 2;
    }

    #mild, #hot, #medium {
        padding: 15px;
    }

    #mild:hover {
        font-size: 115%;
        border: none;
    }
    
    #medium:hover {
        font-size: 115%;
        border: none;
    }
    
    #hot:hover {
        font-size: 115%;
        border: none;
    }

    #recipe-one, #recipe-two, #recipe-three {
        width: 24rem;
    }

    .thank-you > a {
        text-decoration: none;
        color: rgb(51,102,0);
        font-weight: bolder;
    }

    .description a {
        color: rgb(51,102,0);
        font-weight: bolder;
    }

    ol {
        display: inline-block;
        list-style-position: inside;
    }

    .subscribe {
        margin: 0;
    }

}

/* For extra small screens from size 414px and down */

@media screen and (max-width: 414px) {

    .signup-form {
        width: 20rem;
    }

    .social-networks {
        column-gap: 5rem;
        column-count: 2;   
    }

    #mild, #hot, #medium {
        padding: 15px;
    }

    #recipe-one, #recipe-two, #recipe-three {
        width: 20rem;
    }


    #mild:hover {
        font-size: 115%;
        border: none;
    }
    
    #medium:hover {
        font-size: 115%;
        border: none;
    }
    
    #hot:hover {
        font-size: 115%;
        border: none;
    }

    .thank-you > a {
        text-decoration: none;
        color: rgb(51,102,0);
        font-weight: bolder;
    }

    .description a {
        color: rgb(51,102,0);
        font-weight: bolder;
    }

    ol {
        display: inline-block;
        list-style-position: inside;
    }

    .subscribe {
        margin: 0;
    }
    
}

/* For screen sizes 378px and down */
@media screen and (max-width: 378px) {

    #recipe-one, #recipe-two, #recipe-three {
        width: 18rem;
    }
    
}