@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: lightslategray;
    letter-spacing: 2px;
}

/* Headings and logo*/

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    font-size: 150%;
    color: dimgray;
    margin: 10px;
    letter-spacing: 5px;
    text-align: center;
}


#logo {
   
    border: none;
    font-size: 350%;
    padding-top: 30px;
    
}

/* Menu */

#menu {
    float: right;
    font-family: Roboto;
    font-size: 120%;
    letter-spacing: 5px;
    margin-right: 10px;
}

#menu, #logo {
    line-height: 15px;
    height: 50px;
}


#menu li {
    list-style-type: none;
    margin: 10px 10px;
    display: inline;
    
}

#menu a {
    text-decoration: none;
    color: dimgray;
}

#menu a:hover {
    border-block: 2px solid rgb(51,102,0,0.8);
    border-radius: 20%;
}

.active {
    border-block: 2px solid rgb(51,102,0,0.8);
    border-radius: 20%;;
}

.fas {
    color: rgb(51,102,0,0.8);
}

/* Hero image */

#hero-image {
    height: 500px;
    width: 100%;
    margin-top: 40px;
    background: url('../images/chillis-market.jpeg') no-repeat center center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}