@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: dimgray;
    letter-spacing: 2px;
}

/* Headings and logo*/

h1, h2 {
    font-family: Bebas Neue, sans-serif;
    color: dimgray;
    font-size: 150%;
    margin: 10px;
    letter-spacing: 5px;
    text-align: center;
}

p {
    padding: 1.2rem;
}


#logo {
    border: none;
    font-size: 350%;
    padding-top: 15px; 
}

/* Menu */

#menu {
    font-family: Roboto;
    font-size: 120%;
    letter-spacing: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}


#menu li {
    list-style-type: none;
    margin: 10px 10px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: dimgray;
}

#menu a:hover {
    border-block: 2px solid rgb(51,102,0,0.8);
    border-radius: 20%;
}

.active {
    border-block: 2px solid rgb(51,102,0,0.8);
    border-radius: 20%;;
}

.fas {
    color: rgb(51,102,0,0.8);
}

/* Hero image*/


#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/chillis-market.jpeg') no-repeat center center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

/* Spice level */

#spice-level {
    margin: 30px;
    text-align: center;
    line-height: 2;
}

.description a {
    color: inherit;
}
.description a:hover {
    border-block: 2px solid rgb(51,102,0);
    border-radius: 20%;
}

.slogan {
    margin: 30px;
    padding: 15px;
    color: dimgray;
}

.slogan > p {
    
    margin: 30px;
}
.slogan > a {
    text-decoration: none;
    color: inherit;
}

.pepper-list {
    padding: 15px;
    list-style: none;
    letter-spacing: 2px;
}

hr {
    border-top: 1px solid dimgray;
    width: inherit;
    margin: 5px; 
}

/* Recipes */

.recipes-hr {
    padding-top: 30px;
}

.slogan-two {
    margin-top: 100px;
    margin-bottom: 50px;
}

#recipes {
    height: 250px;
    margin-top: 40px;
}


h2 > a {
    color: inherit;
    text-decoration: none;
}


#mild {
    width: 25%;
    float: left;
    padding: 30px;
}

#hot {
    width: 25%;
    float: right;
    padding: 30px;
}

#medium {
    width: 25%;
    margin: auto;
    padding: 30px;
}

#mild:hover {
    border-block: 5px solid rgb(51,102,0,0.8);
    border-radius: 20%;
    font-size: 115%;
}

#medium:hover {
    border-block: 5px solid rgb(51,102,0,0.8);
    border-radius: 20%;
    font-size: 115%;
}

#hot:hover {
    border-block: 5px solid rgb(51,102,0,0.8);
    border-radius: 20%;
    font-size: 115%;
}

#recipe-list {
    width: 100%;
    background: url('../images/homemade-sauces.jpeg') no-repeat center center;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    display: inline-block;
    line-height: 1.5;
    opacity: 0.9;
    padding-top: 30px;
}

h3 {
    padding-top: 15px;
}

#recipe-one {
    text-align: center;
    width: 45rem;
    margin: 30px auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    color: #ffff;
    background-color: dimgray;
    opacity: 0.9;
    margin: auto;
    padding-bottom: 5rem;
}

#recipe-one > ul {
    display: inline-block;
    text-align: center;
}

#recipe-one:hover {
    opacity: 0.95;
}


#recipe-two {
    text-align: center;
    width: 45rem;
    margin: 30px auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    color: #ffff;
    background-color: dimgray;
    opacity: 0.9;
    padding-bottom: 5rem;
}

#recipe-two > ul {
    display: inline-block;
    text-align: center;
}

#recipe-two:hover {
    opacity: 0.95;
}

#recipe-three {
    text-align: center;
    width: 45rem;
    margin: 30px auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    color: #ffff;
    background-color: dimgray;
    opacity: 0.9;
    padding-bottom: 5rem;
}

#recipe-three > ul {
    display: inline-block;
    text-align: center;
}

#recipe-three:hover {
    opacity: 0.95;
}

ol {
    background-color: lightgray;
    opacity: 0.9;
    color: rgb(36,34,34);
    display: inline-block;
    list-style-position: inside;
}


ol > p {
    padding-top: 15px;
}


/* Form */

.form-section {
    background: url('../images/sauces-in-store-black-and-white.jpeg') no-repeat center center;
    width: 100%;
    padding: 75px 0;
    position: relative;
    background-size: cover;
    opacity: 0.9;
    background-attachment: fixed;
    line-height: 1.25; 
}

.signup-form {
    background-color: dimgray;
    opacity: 0.95;
    text-align: center;
    color: #ffff;
    width: 45rem;
    margin: auto;
    border: 5px solid rgb(51,102,0,0.8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 15px 30px 15px;
}

.form-intro {
    padding-top: 15px;
}

.form-section-heading {
    font-size: 200%;
    color: #fff;
    padding: 30px;
}

.form-section p {
    font-family: Roboto;
    font-size: 120%;
    letter-spacing: inherit;
}

.text-input {
    background: transparent;
    color: #fff;
    font-size: inherit;
    height: 15px;
    width: 50%;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.text-input:hover {
    border: 2px solid rgb(51,102,0);
}

.join-button {
    background: transparent;
    font-family: Bebas Neue; 
    font-size: 120%;
    letter-spacing: 2px;
    margin-top: 15px;
    padding: 15px 10px;
    color: #fff;
    border-block: 2px solid #fff;
    border-radius: 30px;
}

.join-button:hover {
    border-block: 5px solid rgb(51,102,0);
    border-radius: 20%;
}

.volume {
    transform: scale(1.5);
    margin-top: 10px;
}

.subscribe {
    margin: 25px 0;
}

/* Thank you page for submitting sign-up form */

#thank-you {
    height: 200px;
    line-height: 1.5;
    margin: 250px 0 150px 0;
    text-align: center;
}

.thank-you > a {
    text-decoration: none;
    color: inherit;
}

.thank-you > a:hover {
    border-block: 2px solid rgb(51,102,0);
    border-radius: 20%;
}

/* Footer */

.footer {
    height: 75px;
    padding: 25px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}


.social-networks i {
    list-style: none;
    margin: 15px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 15px;
    color: dimgray;
    border: 2px solid dimgray;
    border-radius: 50%;
}

.social-networks i:hover {
    color:  rgb(51,102,0,0.8);
    border-color: rgb(51,102,0,0.8);
}

/* Media queries */

@media screen and (max-width: 992px) {
    
    .signup-form {
        margin: 0 auto;
        padding: 15px 30px;
    }

}

@media screen and (max-width: 833px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 42rem;
        padding: 15px 30px;
    }

    #recipe-one, #recipe-two, #recipe-three {

        
    }
}

@media screen and (max-width: 768px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 39rem;
        padding: 15px 30px;
    }
}

@media screen and (max-width: 741px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 40rem;
        padding: 15px 30px;
    }
}


@media screen and (max-width: 710px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 37rem;
        padding: 15px 30px;
    }
}

@media screen and (max-width: 650px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 35rem;
        padding: 15px 30px;
    }
}

@media screen and (max-width: 600px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 33rem;
        padding: 15px 30px;
    }
}

@media screen and (max-width: 580px) {
    
    .nav-menu, #recipe-one, #recipe-two, #recipe-three {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 31 rem;
        padding: 15px 30px;
    }
    }
@media screen and (max-width: 550px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 29rem;
        padding: 15px 30px;
    }
}

@media screen and (max-width: 515px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 27rem;
        padding: 15px 30px;
    }
}

@media screen and (max-width: 480px) {
    
    .signup-form, #recipe-one, #recipe-two, #recipe-three {
        width: 25rem;
        padding: 15px 30px;
    }
}